.btn-overlay {
    padding: 0px;
}

.subtitle {
    font-size: 14px;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.icon-btn {
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: #5ed997;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.863);
}

.icon-btn:hover {
    background-color: #5ed997;
    color: white;
}

.left-btn {
    margin-right: 30%;
}

.right-btn {
    margin-left: 30%;
}

hr {
    width: 5%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #5ed9977a;
    height: 2px;
    border: none
}

h3 {
    margin-bottom: 0px;
}