.profile-table {
    max-width: 300px;
    margin: 40px auto 40px auto;
}

.profile-row {
    margin: 0px !important;
}

.profile-item {
    text-transform: capitalize;
}

.info-card {
    border: 1px solid #60da98;
    border-radius: 15px;
    max-width: 400px;
    margin: 40px auto 40px auto;
    
}
