.footer {
    background-color: #60da98;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}